h1{
    font-size: 30px;
    padding-left:30px;
    text-align: center;
    color: cornflowerblue;
}
a{
    padding-left: 30px;
}
.student-box {
    box-sizing: content-box;
    border-radius:25px;
    width: 800px;
    height: 200px;
    background-color: lightblue;
    margin-bottom:20px;
    padding:10px;
    line-height: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;

}
.student-box > div:nth-child(1){
    margin-left:10px;
}

.btn-primary{
    text-align: right;
    width:60px;
    height:45px;
}
h2{
    font-size: 30px;
    color: cornflowerblue; 
}
