a{
    padding-left: 30px;
}
h1{
    font-size: 45px;
    color: cornflowerblue; 
}


.container-fluid .row.justify-content-center .col-md-4{
    background-color:whitesmoke;
    border-radius:25px;
    height: 730px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .user-image {
    width: 15%;
    max-width: 100%; 
  }
  
  .form-input {
    flex-grow:1; 
    margin-left: 10px; 
    width:80%;
    padding: .5rem 1rem;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .3rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  }