<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/stylesheets/styleData.css">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"> 
            <img src="/data.jpg" alt="Logo" style="width: 40px;height: 40px;" > 
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#"> Table Data <span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/students/display"> Data Display</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/students/adding">Add new data</a>
                </li>
            </ul>
        </div>
    </nav>
    <h1> Students Database </h1>
        <table>
            <tr> 
                <th>Student Name </th>
                <th> Weight (kg) </th>
                <th> Height (cm) </th>
                <th> Hair Color </th>
                <th> GPA </th>
                <th> Major </th>
                <th> Graduate Year </th>
                <th> Nationality </th>
                <th> SFU Email ID </th>
            </tr>
            <tr th:each="student:${stu}">
                <td th:text="${student.studentName}"></td> 
                <td th:text="${student.weight}"></td>
                <td th:text="${student.height}"></td>
                <td th:text="${student.hairColor}"></td>
                <td th:text="${student.gpa}"></td>
                <td th:text="${student.major}"></td>
                <td th:text="${student.graduateYear}"></td>
                <td th:text="${student.nationality}"></td>
                <td th:text="${student.emailID}"></td>
            </tr>
        </table>
</body>
</html>